streamlit==1.33.0
langchain-core==0.2.43
langchain-text-splitters==0.0.2
anthropic==0.21.3
openai
chromadb==0.4.24
sentence-transformers==2.7.0
pdfplumber==0.11.0
openpyxl==3.1.2
pandas==2.2.1
python-dotenv==1.0.1
loguru==0.7.2
pypdf
torch